  <div class="container">
     <ul class="nav nav-tabs">
                <li class="nav-item">
                        <a class="nav-link active" href="/">Todos</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="/editor">Add Todo</a>
                </li>

        </ul>

    <div class="tab-pane fade  show">

        <div class="jumbotron">
           
            <div>                 
                <form  class="form-group"  novalidate>
                    <div>
                            <p class="display-6"> Your todo is being saved as you type , It will appear on Dashboard. </p>
                            <a class="badge badge-primary" href="/">Dashboard</a>
                        <div>
                           
                            <label class="display-3" for="validationServer01">title</label>
                            <input class="form-control" ng-model = "todoItem.title" type="text" placeholder="todo title" required>
                        </div>

                        <div>
                            <div class="itemsList" ng-repeat="item in taskItems">
                                <p>{{item.name}}</p>
                                <p>{{item.description}}</p>
                                <p>{{item.url}}</p>
                                <button class="btn btn-primary" ng-click="removeItemHandler(item)">remove</button>
                                <button class="btn btn-primary" ng-click="updateItemHandler(item)">Update</button>
                                <button class="btn btn-primary" ng-click="moveItemHandler(item)">Move to another Todo</button>
                            </div>

                        </div>
                        <div ng-show="showMoveButton">
                            <label for="todo">choose the todo</label>
                            <select ng-model = "selectedTodo">
                                <option ng-repeat="todo in todos" ng-if="todo.title !== todoItem.title">{{todo.title}}</option>
                            </select>
                            <button class="btn btn-primary" ng-click="moveItemHandler(item)">Move</button>
                            
                        </div>
                        <div class="add-item-button" ng-show="!hideNewItemButton">
                            <button class="btn btn-primary"  ng-click="addItem()">new item</button>
                        </div>
                        <div ng-show="!hideTaskDirective">
                            <task-item update="updateItems(data)" a-task-item="aTaskItem"></task-item>
                        </div>
                       
                        
                        
                           
                    </div>
                </form>
            </div>
        </div>
    </div>
             
 </div>